<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "employee" class = "com.spring.tutorial.model.Employee" lazy-init="true" init-method="init" destroy-method="hakai" scope="prototype">
        <property name = "name" value = "Rohit Bavkar" />
    </bean>

<!--    <bean class="com.spring.tutorial.model.TestPostProcessors1"></bean>-->
<!--    <bean class="com.spring.tutorial.model.TestPostProcessors"></bean>-->


</beans>